<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Massge</title>
</head>
<body>
    <h2>Edit meassge id :<%= chat.id %></h2>
    <p>This chat was sent from <%= chat.from%> To <%= chat.to %></p>
    <form action="/chats/<%= chat.id %>?_method=PUT" method="POST">
        <textarea name="meassge" id="" cols="30" rows="10"><%= chat.message  %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>